@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container2 {
  max-width: 90%;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  margin-top: 20px;
  text-align: center;
  /* border: 0.5px solid; */
}
.container {
  max-width: 90%;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  margin-top: 20px;
  /* border: 0.5px solid; */
}

.container h1{
  color: #31335A;
}

article h1 {
  margin: 1rem 0;
}

.column h1{
  font-weight: 100;
  color: #31335A;
}

.column1 {
  float: left;
  width: 25%;
  height: 450px;
  padding-top: 10px;
  margin-right: 5px;
}
.column2 {
  float: left;
  width: 35%;
  height: 450px;
  padding-left: 10px;
  margin-right: 5px;
  padding-top: 10px;
  border-radius: 6px;
}
.column3 {
  float: left;
  width: 35%;
  height: 450px;
  padding-left: 10px;
  margin-right: 5px;
  padding-top: 10px;
  border-radius: 6px;
}


.column2 p{
  float: left;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #31335A;
}

.column2 img{
  float: right;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 20px;
  
}
.column3 p{
  float: left;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #31335A;
}

.column3 img{
  float: right;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 20px;
  
}
.column1 img{
  float: left;
}
.text{
  height: 47px;
  margin-top: 5px;
  text-align: center;
}

@media only screen and (max-width: 1150px){
  .column2{
    width: 50%;
    height: 380px;
}
.column3{
    width: 50%;
    height: 380px;
    margin-top: 20px;
}
 

}

@media only screen and (max-width: 840px) {
  .column1{
      width: 100%;
  }
  .column2{
      width: 100%;
      height: 380px;
  }
  .column3{
      width: 100%;
      height: 380px;
      margin-top: 20px;
  }
}

@media only screen and (max-width: 450px){
 .container{
   max-width: 100%;
 }
 .column2 p{
   font-size: 13px;
 }
 .column3 p{
  font-size: 13px;
}
}